*, *::before, *::after {
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	background-color: #221f22;
	color: rgb(252, 252, 250);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
.title {
	letter-spacing: 0.125rem;
	font-size: 1.25rem;
	font-family: sans-serif;
	font-variant: small-caps;
	font-weight: bolder;
}
.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}
.sub-section > .label {
	font-family: sans-serif;
	grid-column: 1 / -1;
	font-variant: small-caps;
	text-align: center;
}

.framed {
	background-color: #2d2a2e;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	border: 0.125rem solid #19181a;
}
.framed.-thin {
	padding: 0.125rem 0.25rem;
}
.framed.-darkest {
	background-color: #19181a;
}
