[action="reroll"] { --color: #a9dc76; }
[action="void"  ] { --color: #ffd866; }
[action="remove"] { --color: #f92672; }
#keywords-actions, #keywords-mass-actions {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}
#keywords-actions .keyword-action::before { content: attr(symbol); }
#keywords-actions .keyword-action::after { content: '?'; }

#keywords-mass-actions .keyword-action {
	appearance: none;
	padding: 0;
	border: none;
	border-radius: 0.5rem;
	display: inline-flex;
	align-items: stretch;
}
#keywords-mass-actions .keyword-action :is(.symbol, .label) {
	border: 2px outset ButtonBorder;
	padding-block: 1px;
	padding-inline: 4px;
}
#keywords-mass-actions .keyword-action .symbol {
	font-family: monospace;
	font-weight: bolder;
	background-color: var(--color);

	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}
#keywords-mass-actions .keyword-action .label {
	background-color: inherit;

	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}
#keywords-mass-actions .keyword-action:hover > .symbol {
	background-color: color-mix(in hsl, var(--color) 90%, black);
}
#keywords-mass-actions .keyword-action:hover:active > .symbol {
	background-color: color-mix(in hsl, var(--color) 80%, black);
}
#keywords-mass-actions .keyword-action:hover:active > :is(.symbol, .label) {
	border-style: inset;
}



#words {
	display: inline-grid;
	grid-template-columns: auto auto auto;
	grid-auto-flow: row;
}
.word {
	grid-column: 1 / -1;
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: subgrid;
	align-items: center;
}
.word::before {
	grid-column: 1;
	content: attr(symbol) ' ' attr(prefix) '?';
	color: var(--color);
	font-family: monospace;
	font-weight: bolder;
	font-variant: small-caps;
}
.word > .label {
	grid-column: 2;
	font-family: sans-serif;
	display: inline-block;
}
.word > .label > span:not(:last-child)::after {
	content: ',';
	color: #939293;
	padding-inline-end: 0.25rem;
}
.word > .label > [highlight="true"] { font-weight: bolder; }
.word > .label > [exclude="true"] { text-decoration: line-through; }
.word > .buttons {
	grid-column: 3;
}
.word > .keyword-actions > .keyword-action {
	appearance: none;
	font-family: monospace;
	font-weight: bolder;
	border-radius: 0.25rem;
	background-color: var(--color);
	border-color: var(--color);
}
.word > .buttons > button:first-child {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}
.word > .buttons > button:last-child {
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}